@import "./../../../variables.scss";

input[type="radio"] {
  display: none;
  &:checked {
    & + .answer_block {
      background-color: $light-blue;
      cursor: default;
      border: 3px solid $primary-color;
    }
  }
}

.answer_block {
  border: 1px solid $dark-green;
  background-color: $light-blue;
  box-shadow: $primary-color-shade 0px 0px 0px 1px inset;
  color: $primary-color;
  border-radius: 3px;
  width: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $primary-color-shade;
  }
}
