@import "./../variables.scss";
:host {
  padding: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  min-height: 300px;
  width: 100%;
  scroll-behavior: smooth;
}

.main-wrapper {
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  overflow: hidden;
  color: $light-grey-shade;
  opacity: 0;
  padding: 0 50px;
  &.focus {
    color: $dark-charcoal;
    opacity: 1;
  }
}

.question-wrapper {
  margin: auto;
  width: 50vw;
  label {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    word-break: break-word;
  }
}

@media (max-width: 600px) {
  .question-wrapper {
    width: 95%;
  }
}

.question-wrapper {
  animation: div 0.2s linear;
}

@keyframes div {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
