<div>
  <app-welcome
    *ngIf="!startClicked && !surveyCompleted"
    (clickStart)="showQuestions()"
  ></app-welcome>
  <ng-container
    *ngIf="startClicked && !surveyCompleted"
    class="animate-questions"
  >
    <div
      *ngFor="let question of questions; let i = index"
      class="main-wrapper"
      [class.focus]="i == 0"
      [id]="question.identifier"
    >
      <div class="question-wrapper">
        <label>{{ question.headline }}</label>
        <div *ngIf="question.question_type == 'multiple-choice'">
          <app-single-selection
            [question]="question"
            *ngIf="question.multiple === 'false'"
            (moveNext)="nextQuestion($event)"
          ></app-single-selection>
          <app-multi-selection
            [question]="question"
            *ngIf="question.multiple === 'true'"
            (moveNext)="nextQuestion($event)"
          ></app-multi-selection>
        </div>
        <app-free-text
          *ngIf="question.question_type == 'text'"
          [question]="question"
          (moveNext)="nextQuestion($event)"
        ></app-free-text>
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="startClicked && !surveyCompleted"
    class="button-wrapper"
    (click)="surveyComplete()"
  >
    <button tabindex="0" class="button">
      <span class="flex-wrapper"
        ><span class="text-start">{{ TEXTS.SUBMIT_SURVEY }}</span></span
      >
    </button>
  </div>
  <app-success *ngIf="surveyCompleted"></app-success>
</div>
