:host {
  padding: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  min-height: 300px;
  width: 100%;
  scroll-behavior: smooth;
}

.inner_wrapper {
  margin: auto;
  width: 50%;
  label {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    word-break: break-word;
  }
}

@media (max-width: 600px) {
  .inner_wrapper {
    width: 95%;
  }
}
