@import "./../../../variables.scss";

.buttons {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;

  display: flex;
  .enter {
    margin: 5px;
    white-space: nowrap;
  }
}

.submit-button {
  position: relative;
  outline: 0;
  background-color: $primary-color;
  color: $white-color;
  max-height: 48px;
  padding: 10px;
  border-radius: 0px;
  line-height: 0px;
  overflow: hidden;
  min-height: 48px;
  line-height: 40px;
  width: 80px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.submit-button:hover {
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 10px;
}

.submit-button:focus {
  outline: none !important;
}

.submit-button .fa-plus {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 22%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

.submit-button .fa-circle-thin {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -20%;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
}

.submit-button .fa-check {
  position: absolute;
  z-index: 1;
  top: -52%;
  left: 20%;
  font-size: 0.7em;
  transform: translate(-50%, -50%);
}

.submit-button .check {
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 0;
  font-size: 1em;
  transform: translate(-50%, -50%);
}

.submit-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: $white-color;
  transform: translate(-50%, -50%);
  font-size: 1em;
  padding-left: 15px;
}

.submit-button span.saved {
  opacity: 0;
}

.submit-button.clicked .fa-plus {
  animation: addicon 2s ease-in forwards;
  width: 200px;
}

.submit-button.clicked {
  animation: color 2s ease-in forwards;
  width: 200px;
}

.submit-button.clicked .fa-circle-thin {
  animation: circle 1s ease-in forwards;
}

.submit-button.clicked .fa-check {
  animation: check 2s ease-in forwards;
}

.submit-button.clicked span.check-mark {
  animation: addcart 2s ease-in forwards;
}

.submit-button.clicked span.saved {
  animation: saved 2s ease-in forwards;
  padding-left: 20px;
  white-space: nowrap;
}

@keyframes addicon {
  0% {
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    left: -10%;
  }

  100% {
    left: 20%;
  }
}

@keyframes check {
  0%,
  40% {
    top: -20%;
  }

  60% {
    top: 48%;
  }

  100% {
    top: 48%;
  }
}

@keyframes addcart {
  0%,
  30% {
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes saved {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    background-color: primary-color;
  }

  80%,
  100% {
    background-color: $green-color;
  }
}

@media screen and (max-width: 400px) {
  .submit-button span {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 767px) {
  .submit-button.clicked span.saved {
    padding-left: 35px;
  }
}
