$primary-color: #023564;
$white-color: #fff;
$green-color: #008000;
$light-blue: #64a9ec;
$dark-green: #55706d;
$primary-color-shade: #02356499;
$light-blue-shade: #e6f3ff;
$black-color: #000;
$light-grey: #d3d3d3;
$dark-charcoal: #333;
$light-grey-shade: #bdbdbd;
$light-green: #4bb71b;
